button {
    border: 2px solid rgba(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.2);
    color: rgba(0, 255, 255);
    border-radius: 5px;
}

button:hover {
      background-color: rgba(0, 255, 255, 0.4);
      color: rgba(0, 255, 255);
}